<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.2/tailwind.min.css">
</head>
<body>
    <section class="flex lg:mx-96 justify-between md:space-x-32 md:mx-20 h-screen">
        <!-- Logo and Text -->
        <div class="md:my-56">
            <img src="../../static/Icon/Logo.svg" class="mb-20">
            <p class="font-extrabold mb-6">FEATURES WE OFFER</p>
            <div class="flex">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor"
                    class="w-6 h-6 text-blue-600 font-bold mr-5">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                </svg>
                <p class="font-bold">Send files across devices</p>    
            </div>

            <div class="flex mt-4">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor"
                    class="w-6 h-6 text-blue-600 font-bold mr-5">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                </svg>
                <p class="font-bold">Resume file download anytime</p>    
            </div>

            <div class="flex mt-4">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor"
                    class="w-6 h-6 text-blue-600 font-bold mr-5">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                </svg>
                <p class="font-bold">Add friends and accept file requests</p>    
            </div>

            <div class="flex mt-4">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor"
                    class="w-6 h-6 text-blue-600 font-bold mr-5">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                </svg>
                <p class="font-bold">Send file to groups</p>    
            </div>
        </div>

        <!--Registration Form-->
        <form class="md:my-32">
                <h2 class="font-extrabold text-4xl mb-8">Create your account</h2>

                <!--First name-->
                <div class="mb-6">
                    <label class="text-gray-500 font-bold text-xl block" for="firstname">
                        First Name
                    </label>
                    <input
                        type="text"
                        placeholder="First name"
                        class="p-4 w-96 text-gray-500 font-bold border border-gray-300 rounded mt-2 focus:border-blue-600 hover:border-blue-500 outline-none"
                    />
                </div>

                <!--Last name-->
                <div class="mb-6">
                    <label class="text-gray-500 font-bold text-xl block" for="lastname">
                        Last Name
                    </label>
                    <input
                        type="text"
                        placeholder="Last name"
                        class="p-4 w-96 text-gray-500 font-bold border border-gray-300 rounded mt-2 focus:border-blue-600 hover:border-blue-500 outline-none"
                    />
                </div>

                <!--User name-->
                <div class="mb-6">
                    <label class="text-gray-500 font-bold text-xl block" for="username">
                        Username
                    </label>
                    <input
                        type="text"
                        placeholder="Username"
                        class="p-4 w-96 text-gray-500 font-bold border border-gray-300 rounded mt-2 focus:border-blue-600 hover:border-blue-500 outline-none"
                    />
                </div>

                <!--Email-->
                <div class="mb-6">
                    <label class="text-gray-500 font-bold text-xl block" for="email">
                        Email
                    </label>
                    <input
                        type="email"
                        placeholder="Email address"
                        class="p-4 w-96 text-gray-500 font-bold border border-gray-300 rounded mt-2 focus:border-blue-600 hover:border-blue-500 outline-none"
                    />
                </div>

                 <!--Password-->
                 <div class="mb-6">
                    <label class="text-gray-500 font-bold text-xl block" for="password">
                        Password
                    </label>
                    <input
                        type="password"
                        placeholder="Password"
                        class="p-4 w-96 text-gray-500 font-bold border border-gray-300 rounded mt-2 focus:border-blue-600 hover:border-blue-500 outline-none"
                    />
                </div>

                <p class="text-gray-500 text-lg mb-4">Already have an account? 
                    <a href="#" class="font-bold text-blue-600 underline"> Login</a> or use
                    <a href="#" class="font-bold text-blue-600 underline"> offline mode</a>
                </p>

                <!--Button-->
                <button type="submit" class="text-white font-bold text-lg rounded w-full p-4" style="background-color: #0011FF">
                        Create your account
                </button>
                
        </form>
    </section>
</body>
</html>